{% extends "base_generic.html" %}
{% block content %}
{{request.user}}
{{request.user.id}}
{{request.user.pk}}
{{request.user.instnace_pk}}
{{name}}
{% if user.is_authenticated %}

<h1>You have the following appointment requests</h1>
<a href="{% url 'exportappointments' %}">Export appointments</a>
<br/>
{%for q in queryset%}
{% if q.librarian_id == request.user.id %}
<li class="request">Name: {{q.name}} <br/>
Email: {{q.email}} <br/>
Status: {{q.status}} <br/>
Regarding: {{q.course}}
{{q.topic}}
{{q.description}}
{%  endif %}
</li><br/>
{% endfor %}

{% endif %}
{% endblock %}
