{% extends "base_generic.html" %}
{% block content %}
<h1>Request Reference/Instruction Session</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>


{% endblock %}
