{% extends "base_generic.html" %}


{% block content %}
{% load static %}



{% for q in libq %}
{% if request.user.id == q.user_id %}
<p>{{q.user_id}}</p>
<form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endif %}
{% endfor %}
    <ul>
		
		
		</ul>
		
		
		
{% endblock %}
