{% extends "base_generic.html" %} 
{% block content %}

{% for q in queryset %}
<h1>{{q.event_name}}</h1>
<li>Location: {{q.event_location}}</li>
<li>Time: {{q.event_time}}</li>
<li>Topics: {{q.event_topics}}</li>
<li>Description: {{q.event_description}}</li>

{% endfor %}
<h1>Sign-up</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>



   
   {% if request.user.username %}
   
 <ul>
  <li> <a href=/water/events/{{id}}/signups>Click to see registrants</a></li>
  <li> <a href=/water/events/{{id}}/export>Export Registrants</a></li>
</ul>
   {% endif %}
{% endblock %}
