{% extends "base_generic.html" %} 
{% block content %}
<h1>Current Events</h1>
{% for q in queryset %}

<li><a href=events/{{q.id}}>{{q.event_name}}</a> {{q.event_time}}</li>


{% endfor %}
{% endblock %}
