{% extends "base_generic.html" %}
{% block content %}
    <ul>
   {% if request.user.username %}
   <p>{{request.user.id}}</p>
   hello, {{request.user.get_full_name}}
	
	
	
	<h2>Tasks in progress</h2>
<table>
{% for q in queryset %}
	{%if q.Student_id == request.user.id %}
	{%if q.completed == False %}

<li><a href=/swims/tasks/{{q.id}}{{q.assigned_by_id}}{{request.user.id}}>{{q.task}}</a></li>

{% endif %}
{% endif %}
</table>
	{% endfor %}	
{% if not incompleteset %}
<p>No tasks assigned</p>
{% endif %}	
 
<h2>Completed Tasks</h2>
{% for q in queryset %}
{%if q.Student_id == request.user.id %}
{%if q.completed == True %}
<ul><li><a href=/swims/tasks/{{q.id}}{{q.assigned_by_id}}{{request.user.id}}>{{q.task}}</a></li></ul>


{% endif %}
{% endif %}
{% endfor %}
{% endif %}


{% endblock %}
