<html>
  hello, {{request.user.get_full_name}}
the following data:


{% for q in queryset %}

{%if q.completed == False %}

{%if q.id == request.user.id %} 

<li>{{q.task}} {{q.description}}  
<li>
{% endif %}
{% endif %}
{% endfor %}

</html>
