<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>GILL</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
		<img src="{% static 'images/g1215.png' %}">
		
		
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active">          <li><a href="{% url 'GillHome' %}"><button class="button">Home</button></a></li>
          <li><a href="{% url 'events_view' %}"><button class="button">WATER</button></a></li>
          <li><a href="{% url 'tasks' %}" ><button class="button">SWIMS</button></a></li>
          <li><a href="{% url 'signup' %}" ><button class="button">RIFT</button></a></li>
			<li><a href="{% url 'evalform' %}"><button class="button">SEAS</button></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}

		  
<li><a href="{% url 'signup_list' %}">Your Appointments</a></li>
<li><a href="{% url 'task assign' %}">Assign Tasks</a></li> 
<li><a href ="{% url 'seeresults' %}">View your survey results</a></li> 
<li><a href ="{% url 'eventbuild' %}">Create an event</a></li> 
<li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-in">Logout</a></span></li>


    {%else %}
      <li><a href="{% url 'login'%}"><span class="glyphicon glyphicon-user">Login</a></span> </li>

       {% endif %} 
    </ul>
  </div>
</nav>



 {% comment %}
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
		  
      {% block sidebar %}
      
      
  
      
      <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
     {% if user.is_authenticated %}
           <li><a href="{% url 'signup_list' %}">Your Appointments</a></li>
           {% endif %}
  
		  
          <li><a href="{% url 'GillHome' %}"><button class="button">Home</button></a></li>
          <li><a href="{% url 'events_view' %}"><button class="button">WATER</button></a></li>
          <li><a href="{% url 'tasks' %}" ><button class="button">SWIMS</button></a></li>
          <li><a href="{% url 'signup' %}" ><button class="button">RIFT</button></a></li>
			<li><button class="button"><a href="">SEAS</a></button></li>
       </ul>


     {% endblock %}
     
      </div>
     {% endcomment %} 
      

      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
{% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %} 
      </div>
    </div>

  </div>
</body>
</html>
