{% extends "base_generic.html" %} 
{% block content %}
GILL (General Instruments for Library Logistics) is a set of tools in a webapp developed for the purpose of streamlining some common library tasks.  Currently functional, but still under active development. <br/>
GILL includes the following:<br/> <ul>
	<li><b>SWIMS</b> (Student Worker Information Management System) to allow librarians to assign tasks to students and for students to mark tasks as 
		completed. It is also the current central component, where users are 
		assigned as 'Student' or 'Librarian'</li>
	<li><b>WATER</b> (Workshop and Tutorial Event Registration) - Allows for the 	
		creation of library events, the registering of anonymous users for
		individual events, and allows registered users to see and export the 
		registrants for an event.</li>
	<li><b>RIFT</b> (Reference Interview Form Tool) - Allows anonymous users to request
		meetings/set up appoints with specific librarians. Librarians are 
		able to see and export their appointments.</li>
	<li><b>SEAS</b> (Student Evaluation Automation System) - In progress, though the 
		basic structure is done. This section creates an evaluation form for 
		use after student instruction sessions. For an individual librarian, 
		it will process the numbers given on each survey and output a score 
		per session. Only quantitative questions are currently analyzed, th
		ough the form gathers qualitative data as well.</li></ul>

{% endblock %}
