{% extends "base_generic.html" %}
{% block content %}


<script>
var dateid = new Date(); 
month=dateid.getMonth()+1
var today=dateid.getDate()+""+month+dateid.getFullYear()
function myFunction(){
var libn= document.getElementById('id_librarian').value;
var period=document.getElementById('id_period').value;
var course=document.getElementById('id_course').value;
var ses=document.getElementById("id_sessionid").setAttribute("value", course+period+libn+today);


}

$(document).ready(function(){
    $("#submit").hover(function(){

        var libn = document.getElementById('id_librarian').value;
var period=document.getElementById('id_period').value;
var ses=document.getElementById("id_sessionid").setAttribute("value", period+libn+today);
       
    }
    
    
    
    
    );
});



</script>

<form method="post">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value="Submit" id="submit" onClick="myFunction()" />
</form>


{% endblock %}
