{% extends "base_generic.html" %}
{% load taglib %}

{% block content %}


{% for item, item2 in peoplezip %}

<br/>
<h2>Session: {{item2.0}}</h2><br/>
Number of Students: {{item2.1}}<br/>




Question Totals<br/>
{{item.0}}<br/>


Question Averages<br/> {{item.1}}<br/>
{% for avg in item.1 %}



{% endfor %}


{% endfor %}


<br/>
<br/>



 <br/>





{% endblock %}
