{% extends "base_generic.html" %}
{% block content %}


    {{taskinst.task}}
    {{taskinst.description}}
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
